---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allResources: CollectionEntry<"resources">[] = await getCollection("resources");
  return allResources.map((resource) => ({
    params: { slug: `resources/${resource.slug}/` },
    props: { name: resource.data.name, url: `/resources/${resource.slug}/` },
  }));
}

const { name, url } = Astro.props;

// Get 3 random feed posts
const allFeedPosts: CollectionEntry<"feed">[] = await getCollection("feed");
const randomFeedPosts = allFeedPosts.sort(() => Math.random() - 0.5).slice(0, 3);
---

<BaseLayout
  title={`Thank You! Your ${name} is on its way.`}
  description={`Confirmation for downloading ${name}. Check your inbox for the link and find other useful resources while you wait.`}
>
  <section class="space-y-4">
    <header
      class="flex flex-col gap-6 rounded-xl bg-slate-50 px-4 py-8 shadow-md md:items-center md:p-16 md:text-center lg:p-20"
    >
      <h1
        class="bg-[#07ff62] text-5xl font-semibold lg:text-6xl"
        set:html={`Your ${name} is on its way`}
      />
    </header>

    <section
      class="prose prose-xl max-w-none rounded-xl bg-slate-50 px-4 py-8 shadow-sm lg:prose-2xl prose-headings:font-semibold md:p-16 lg:px-28 lg:py-16 [&_a]:text-myblue-500"
    >
      <p>Thank you for signing up!</p>
      <p>I've just sent <a href={url} set:html={name} /> to the email address you provided.</p>
      <p>It should arrive in your inbox in the next minute or two.</p>
      <p>
        <b>Important:</b> If you don't see the email, please check your <em>spam</em> or <em
          >Promotions</em
        > folder, as it can sometimes end up there. If you need help, please contact me at <a
          href="mailto:hey@zmoki.xyz">hey@zmoki.xyz</a
        >.
      </p>
      <section>
        <h2>While you wait...</h2>
        <p>You might also find these posts from my digital garden useful:</p>
        <ul>
          {
            randomFeedPosts.map((post) => (
              <li>
                <a href={`/feed/${post.slug}/`} set:html={post.data.title} />
              </li>
            ))
          }
        </ul>
      </section>
    </section>
  </section>
</BaseLayout>
