---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const resources = await getCollection("resources");
  const resourcesPaths = resources.map((resource: CollectionEntry<"resources">) => ({
    params: { slug: `resources/${resource.slug}` },
    props: {
      name: resource.data.name,
    },
  }));
  return [
    { params: { slug: undefined }, props: { name: "resource" } }, // /thank-you/ generic page
    ...resourcesPaths, // /thank-you/resources/*/ pages
  ];
}

const { name } = Astro.props;
---

<BaseLayout
  title={`Thank You! Your ${name} is on its way.`}
  description={`Confirmation for downloading ${name}. Check your inbox for the link and find other useful resources while you wait.`}
>
  <section class="prose prose-lg prose-headings:font-serif mx-auto max-w-4xl px-6 py-12">
    <h1>Your {name} is on its way.</h1>
    <p>
      Thank you for signing up! I've just sent <b>{name}</b> to the email address you provided.
    </p>
    <p>It should arrive in your inbox in the next minute or two.</p>
    <p>
      <b>Important:</b> If you don't see the email, please check your spam or "Promotions" folder, as
      it can sometimes end up there. If you need help, please contact me at <a
        href="mailto:hey@zmoki.xyz">hey@zmoki.xyz</a
      >.
    </p>
    <section>
      <h2>While You Wait...</h2>
      <p>You might also find these posts from my digital garden useful:</p>
      <ul>
        <li>
          <a href="/feed/3-remembering-grounding-technique/">Remembering Grounding Technique</a>
        </li>
        <li>
          <a href="/feed/2-why-im-building-a-digital-garden/">Why I'm Building a Digital Garden</a>
        </li>
        <li>
          <a href="/feed/1-about-me/">About the Author</a>
        </li>
      </ul>
    </section>
  </section>
</BaseLayout>
