---
import { getCollection, type CollectionEntry } from "astro:content";

export interface Props {
  showRecentPosts?: boolean;
  title: string;
  description?: string;
}

const {
  showRecentPosts = true,
  title,
  description = "A digital garden of ideas, art, and research",
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// If showRecentPosts is true, get 3 latest posts from the feed collection
let recentPosts: CollectionEntry<"feed">[] | null = null;

if (showRecentPosts) {
  const allPosts: CollectionEntry<"feed">[] = await getCollection("feed");
  const sortedPosts = allPosts.sort((a, b) => b.data.order - a.data.order);
  recentPosts = sortedPosts.slice(0, 3);
}
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href={canonicalURL.toString()} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Noto+Serif:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="text-myblue-900 hover:[&_a]:bg-myblue-500 hover:[&_a]:outline-solid hover:[&_a]:outline-myblue-500 min-h-full bg-slate-100 font-sans text-lg leading-tight tracking-tight lg:text-xl [&_a]:no-underline [&_a]:transition-all [&_a]:duration-200 hover:[&_a]:text-white hover:[&_a]:outline"
  >
    <div
      class="grid w-full grid-cols-1 gap-4 p-2 lg:grid-cols-[30%_70%] lg:grid-rows-[200px_200px_minmax(0,max-content)_2fr] lg:py-8 lg:pl-4 lg:pr-8"
    >
      <!-- Header -->
      <header
        class="min-h-24 rounded-xl bg-white bg-[url(/zmoki.jpg)] bg-cover bg-center tracking-tighter shadow-sm"
      >
        <div class="h-full w-full bg-white/10 px-4 py-8 lg:px-6">
          <a href="/">zmoki.xyz</a>
        </div>
      </header>

      <!-- Main Content -->
      <main class="max-w-7xl rounded-xl lg:row-span-4 lg:pb-20 lg:pr-4">
        <slot />
      </main>

      <aside class="bg-myorange-500 flex flex-col gap-2 rounded-xl p-6 tracking-tighter shadow-sm">
        <h2 class="flex-1 pb-4 text-3xl font-medium md:text-4xl">Contact</h2>
        <p>
          <a href="mailto:hey@zmoki.xyz">hey@zmoki.xyz</a>
        </p>
        <p>say hey!</p>
      </aside>
      {
        recentPosts ? (
          <aside class="flex flex-col gap-2 rounded-xl bg-slate-300 p-6 tracking-tighter shadow-sm">
            <h2 class="flex-1 text-3xl font-medium md:text-4xl">Recent Posts</h2>
            <ul>
              {recentPosts.map((post) => (
                <li class="border-myblue-500 border-b-8 border-dotted py-8">
                  <a href={`/feed/${post.slug}`}>{post.data.title}</a>
                </li>
              ))}
            </ul>
          </aside>
        ) : (
          <div />
        )
      }

      <!-- Footer -->
      <footer
        class="row-span-2 self-end rounded-xl bg-white px-4 pb-4 pt-2 font-mono text-xs uppercase tracking-normal text-slate-500 shadow-sm"
      >
        <div class="my-2">
          <span>•</span>
          <a href="/legal/privacy/">Privacy Policy</a>
          <span>•</span>
          <a href="/legal/terms/">Terms of Service</a>

          <span>•</span>
        </div>
        <p>&copy; <a href="/">zmoki.xyz</a> 2025</p>
      </footer>
    </div>
  </body>
</html>
