---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { Time } from "@zmoki/shared-components";

export interface Props {
  title: string;
  description?: string;
  publishDate: Date;
  contentModifiedDate: Date;
  prevPost?: CollectionEntry<"feed"> | null;
  nextPost?: CollectionEntry<"feed"> | null;
}

const { title, description, publishDate, contentModifiedDate, prevPost, nextPost } = Astro.props;
const isContentModified = contentModifiedDate.getTime() > publishDate.getTime();
---

<BaseLayout title={title} description={description}>
  <article class="space-y-4">
    <!-- Post Header -->
    <header
      class="flex flex-col items-center gap-6 rounded-xl bg-white p-20 text-center text-2xl shadow-sm"
    >
      <h1 class="text-6xl font-semibold">
        {title}
      </h1>
      {description && <p>{description}</p>}
      <p
        class="order-first flex flex-row gap-4 align-middle font-mono text-sm uppercase tracking-normal opacity-70"
      >
        <Time datetime={publishDate} />
        {
          isContentModified && (
            <em>
              Updated
              <Time datetime={contentModifiedDate} />
            </em>
          )
        }
      </p>
    </header>

    <!-- Post Content -->
    <div
      class="prose prose-2xl prose-headings:font-semibold [&_a]:text-myblue-500 max-w-none rounded-xl bg-white px-32 py-16 shadow-sm"
    >
      <slot />
    </div>

    <!-- About Author -->
    <aside class="bg-mypink-400 space-y-2 rounded-xl p-20 tracking-tighter shadow-sm">
      <h2 class="pb-4 text-4xl font-medium">About the Author</h2>
      <p>
        What do a software engineer, a contemporary artist, and a neurodivergent researcher have in
        common? They're all me, Zarema Khalilova. This post is one piece of my digital garden, where
        I explore the connections between all my different worlds. You can find the bigger picture
        in <a href="/feed/about-me/" class="text-white">Map of Me.</a>
      </p>
    </aside>

    <!-- Navigation -->
    <nav class="grid w-full grid-cols-2 gap-4 pb-6">
      <!-- Previous Post -->
      {
        prevPost && (
          <a
            href={`/feed/${prevPost.slug}/`}
            class="flex flex-col gap-2 rounded-xl bg-white px-6 pb-10 pt-8 shadow-sm"
          >
            <div class="font-mono text-sm uppercase tracking-normal opacity-70">Previous</div>
            <div class="text-2xl font-medium">{prevPost.data.title}</div>
          </a>
        )
      }

      <!-- Next Post -->
      {
        nextPost && (
          <a
            href={`/feed/${nextPost.slug}/`}
            class="col-start-2 flex flex-col gap-2 rounded-xl bg-white px-6 pb-10 pt-8 text-right shadow-sm"
          >
            <div class="font-mono text-sm uppercase tracking-normal opacity-70">Next</div>
            <div class="text-2xl font-medium">{nextPost.data.title}</div>
          </a>
        )
      }
    </nav>
  </article>
</BaseLayout>
