---
import PostHog from "@/components/posthog.astro";

export interface Props {
  title: string;
  description?: string;
  publishDate?: Date;
  contentModifiedDate?: Date;
}

const {
  title,
  description = "A digital garden of ideas, art, and research",
  publishDate,
  contentModifiedDate,
} = Astro.props;

const isProduction = import.meta.env.PROD;
const analyticsEnabled = import.meta.env.PUBLIC_ANALYTICS_ENABLED !== "false";

const siteBaseUrl = Astro.site;
const currentBaseUrl = isProduction ? siteBaseUrl : `http://localhost:${Astro.url.port}`;

const pagePathname = Astro.url.pathname;
const isPageArticle = publishDate && contentModifiedDate;

const canonicalURL = new URL(pagePathname, siteBaseUrl).toString();

const pageImageWideUrl = new URL(
  `/og-images${isPageArticle ? pagePathname : "/"}wide.jpg`,
  currentBaseUrl,
).toString();
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="max-image-preview:large" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href={new URL("rss.xml", siteBaseUrl).toString()}
    />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content={isPageArticle ? "article" : "website"} />
    <meta property="og:site_name" content="Zarema's Digital Garden" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={pageImageWideUrl} />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    {
      isPageArticle && (
        <meta property="article:published_time" content={publishDate.toISOString()} />
      )
    }
    {
      isPageArticle && (
        <meta property="article:modified_time" content={contentModifiedDate.toISOString()} />
      )
    }
    <meta property="twitter:card" content="summary_large_image" />

    {analyticsEnabled && <PostHog />}
  </head>
  <body
    class="min-h-full bg-zmoki-bg font-sans text-lg leading-tight tracking-tight text-zmoki-ink xl:text-xl"
  >
    <slot />
  </body>
</html>
