---
import { getCollection, type CollectionEntry } from "astro:content";

export interface Props {
  showRecentPosts?: boolean;
  title: string;
  description?: string;
  publishDate?: Date;
  contentModifiedDate?: Date;
  accentColor?: "gray" | "blue" | "green" | "orange" | "pink";
}

const {
  showRecentPosts = true,
  title,
  description = "A digital garden of ideas, art, and research",
  publishDate,
  contentModifiedDate,
  accentColor = "gray",
} = Astro.props;

const isProduction = import.meta.env.PROD;

const siteBaseUrl = Astro.site;
const currentBaseUrl = isProduction ? siteBaseUrl : `http://localhost:${Astro.url.port}`;

const pagePathname = Astro.url.pathname;
const isPageArticle = publishDate && contentModifiedDate;

const canonicalURL = new URL(pagePathname, siteBaseUrl).toString();

const pageImageWideUrl = new URL(`/og-images${pagePathname}wide.png`, currentBaseUrl).toString();

// If showRecentPosts is true, get 3 latest posts from the feed collection
let recentPosts: CollectionEntry<"feed">[] | null = null;

if (showRecentPosts) {
  const allPosts: CollectionEntry<"feed">[] = await getCollection("feed");
  const sortedPosts = allPosts.sort((a, b) => b.data.order - a.data.order);
  recentPosts = sortedPosts.slice(0, 3);
}

const allResources: CollectionEntry<"resources">[] = await getCollection("resources");
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Noto+Serif:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content={isPageArticle ? "article" : "website"} />
    <meta property="og:site_name" content="Zarema's Digital Garden" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={pageImageWideUrl} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {
      isPageArticle && (
        <meta property="article:published_time" content={publishDate.toISOString()} />
      )
    }
    {
      isPageArticle && (
        <meta property="article:modified_time" content={contentModifiedDate.toISOString()} />
      )
    }
    <meta property="twitter:card" content="summary_large_image" />

    <!-- Plausible Analytics -->
    <script>
      import { init } from "@plausible-analytics/tracker";

      init({
        domain: import.meta.env.PUBLIC_PLAUSIBLE_DOMAIN,
        captureOnLocalhost: true,
        autoCapturePageviews: true,
        outboundLinks: true,
        formSubmissions: true,
      });
    </script>
  </head>
  <body
    class="hover:[&_a]:outline-solid min-h-full bg-slate-200 font-sans text-lg leading-tight tracking-tight text-myblue-900 xl:text-xl [&_a]:no-underline [&_a]:transition-all [&_a]:duration-200 hover:[&_a]:bg-myblue-500 hover:[&_a]:text-white hover:[&_a]:outline hover:[&_a]:outline-myblue-500"
  >
    <div
      class="grid w-full grid-cols-1 gap-4 p-2 lg:grid-cols-[29%_71%] lg:grid-rows-[200px_160px_minmax(160px,max-content)_200px_minmax(0,max-content)_1fr_minmax(0,max-content)] lg:gap-x-8 lg:py-8 lg:pl-4 lg:pr-12"
    >
      <!-- Header -->
      <header
        class="min-h-24 rounded-xl bg-white bg-[url(/zmoki.jpg)] bg-cover bg-center tracking-tighter shadow-md"
      >
        <div class="h-full w-full bg-white/10 px-2 py-4 lg:px-4">
          <a href="/" class="inline-block bg-[#0098f2] px-2 text-slate-50">zmoki.xyz</a>
        </div>
      </header>

      <!-- Main Content -->
      <main class="max-w-7xl rounded-xl max-lg:px-2 max-lg:pt-2 lg:row-span-7 lg:pb-4 lg:pr-4">
        <slot />
      </main>

      <aside class="flex flex-col gap-2 rounded-xl bg-[#f20098] p-6 text-slate-50 shadow-md">
        <h2 class="flex-1 pb-4 text-3xl font-medium md:text-4xl">Author</h2>
        <p class="flex flex-col items-start gap-2 md:flex-row md:justify-between">
          <a href="/feed/1-about-me/" class="inline-block border-b-4 border-dotted border-current"
            >Zarema Khalilova</a
          >
          <span>@zmoki</span>
        </p>
      </aside>

      <aside
        class="flex flex-col gap-2 rounded-xl bg-slate-700 p-6 tracking-tighter text-slate-50 shadow-md"
      >
        <h2 class="flex-1 pb-4 text-3xl font-medium md:text-4xl">Resources</h2>
        <ul>
          {
            allResources.map((resource) => (
              <li>
                <a
                  href={`/resources/${resource.slug}/`}
                  class="border-b-4 border-dotted border-current text-[#07ff62]"
                  set:html={resource.data.title}
                />
              </li>
            ))
          }
        </ul>
      </aside>

      <aside
        class="flex flex-col gap-2 rounded-xl bg-[#f24500] p-6 tracking-tighter text-slate-50 shadow-md"
      >
        <h2 class="flex-1 pb-4 text-3xl font-medium md:text-4xl">Contact</h2>
        <p>
          <a href="mailto:hey@zmoki.xyz" class="border-b-4 border-dotted border-current"
            >hey@zmoki.xyz</a
          >
        </p>
        <p>say hey!</p>
      </aside>

      {
        recentPosts ? (
          <aside class="flex flex-col gap-2 rounded-xl bg-slate-700 p-6 tracking-tighter text-slate-50 shadow-md">
            <h2 class="flex-1 text-3xl font-medium md:text-4xl">Recent posts</h2>
            <ul>
              {recentPosts.map((post) => (
                <li class="py-4">
                  <a
                    href={`/feed/${post.slug}/`}
                    class="border-b-4 border-dotted border-current text-[#55c0ff]"
                    set:html={post.data.title}
                  />
                </li>
              ))}
            </ul>
          </aside>
        ) : (
          <div />
        )
      }

      <div
        class:list={[
          "flex w-[calc(50%+8px)] items-end border-r-8 border-dashed max-lg:hidden",
          accentColor === "gray" && "border-slate-400",
          accentColor === "blue" && "border-[#0098f2]",
          accentColor === "green" && "border-[#00f25a]",
          accentColor === "orange" && "border-[#f24500]",
          accentColor === "pink" && "border-[#f20098]",
        ]}
      >
        <!-- Button to scroll to the top of the page -->
        <button
          id="go-to-top-button"
          class="group ml-4 flex flex-col items-center gap-2 text-slate-600"
        >
          <span
            class:list={[
              "font-mono text-5xl uppercase transition-all duration-200",
              accentColor === "gray" && "group-hover:text-slate-400",
              accentColor === "blue" && "group-hover:text-[#0098f2]",
              accentColor === "green" && "group-hover:text-[#00f25a]",
              accentColor === "orange" && "group-hover:text-[#f24500]",
              accentColor === "pink" && "group-hover:text-[#f20098]",
            ]}>&#8593;</span
          >
          <span class="font-mono text-xs uppercase group-hover:text-slate-900">Go to top</span>
        </button>
        <script>
          const goToTopButton = document.getElementById("go-to-top-button");
          if (goToTopButton) {
            goToTopButton.addEventListener("click", () => {
              window.scrollTo({
                top: 0,
                behavior: "smooth",
              });
            });
          }
        </script>
      </div>

      <!-- Footer -->
      <footer
        class="row-span-2 self-end rounded-xl bg-white px-4 pb-4 pt-2 font-mono text-[0.625rem] uppercase tracking-normal text-slate-600 shadow-md xl:text-xs"
      >
        <div class="my-2">
          <span>•</span>
          <a href="/legal/privacy/">Privacy Policy</a>
          <span>•</span>
          <a href="/legal/terms/">Terms of Service</a>

          <span>•</span>
        </div>
        <p>&copy; <a href="/">zmoki.xyz</a> 2025</p>
      </footer>
    </div>
  </body>
</html>
