---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import Time from "../components/Time.astro";

export interface Props {
  title: string;
  description?: string;
  publishDate: Date;
  contentModifiedDate: Date;
  prevPost?: CollectionEntry<"feed"> | null;
  nextPost?: CollectionEntry<"feed"> | null;
}

const { title, description, publishDate, contentModifiedDate, prevPost, nextPost } = Astro.props;
const isContentModified = contentModifiedDate.getTime() > publishDate.getTime();
---

<BaseLayout title={title} description={description}>
  <article class="space-y-4">
    <!-- Post Header -->
    <header
      class="flex flex-col gap-6 rounded-xl bg-white px-4 py-8 shadow-sm md:items-center md:p-16 md:text-center lg:p-20"
    >
      <h1 class="text-5xl font-semibold lg:text-6xl" set:html={title} />
      {description && <p class="text-2xl md:text-3xl" set:html={description} />}
      <p
        class="order-first flex flex-col gap-2 font-mono text-xs uppercase tracking-normal opacity-70 md:flex-row lg:gap-4 lg:text-sm"
      >
        <span>Published on <Time datetime={publishDate} /></span>
        {
          isContentModified && (
            <span>
              [updated on <Time datetime={contentModifiedDate} />]
            </span>
          )
        }
      </p>
    </header>

    <!-- Post Content -->
    <div
      class="prose prose-xl max-w-none rounded-xl bg-white px-4 py-8 shadow-sm lg:prose-2xl prose-headings:font-semibold md:p-16 lg:px-28 lg:py-16 [&_a]:text-myblue-500"
    >
      <slot />
    </div>

    <!-- About Author -->
    <aside
      class="space-y-2 rounded-xl bg-mypink-700 px-4 py-8 tracking-tighter text-white shadow-sm md:p-16 lg:p-20"
    >
      <h2 class="pb-4 text-3xl font-medium md:text-4xl">About me</h2>
      <p>
        What do a software engineer, a contemporary artist, and a neurodivergent researcher have in
        common? They're all me, Zarema Khalilova. This post is one piece of my <a
          href="/feed/2-why-im-building-a-digital-garden/"
          class="border-b-2 border-dotted hover:border-none">digital garden</a
        >, where I explore the connections between all my different worlds. You can find the bigger
        picture on the <a
          href="/feed/1-about-me/"
          class="border-b-2 border-dotted hover:border-none">map of me</a
        > post.
      </p>
    </aside>

    <!-- Navigation -->
    <nav class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
      <!-- Previous Post -->
      {
        prevPost && (
          <a
            href={`/feed/${prevPost.slug}/`}
            class="flex flex-col gap-2 rounded-xl bg-white px-6 pb-10 pt-8 shadow-sm"
          >
            <div class="font-mono text-sm uppercase tracking-normal opacity-70">Previous</div>
            <div class="text-2xl font-medium" set:html={prevPost.data.title} />
          </a>
        )
      }

      <!-- Next Post -->
      {
        nextPost && (
          <a
            href={`/feed/${nextPost.slug}/`}
            class="flex flex-col gap-2 rounded-xl bg-white px-6 pb-10 pt-8 text-right shadow-sm md:col-start-2"
          >
            <div class="font-mono text-sm uppercase tracking-normal opacity-70">Next</div>
            <div class="text-2xl font-medium" set:html={nextPost.data.title} />
          </a>
        )
      }
    </nav>
  </article>
</BaseLayout>
