---
import BaseLayout from "./BaseLayout.astro";
import Time from "../components/Time.astro";
import BrevoForm from "../components/BrevoForm.astro";

export interface Props {
  title: string;
  description?: string;
  publishDate: Date;
  contentModifiedDate: Date;
  form: {
    brevoFormId: string;
    buttonText: string;
    title: string;
    description: string;
  };
}

const { title, description, publishDate, contentModifiedDate, form } = Astro.props;
const isContentModified = contentModifiedDate.getTime() > publishDate.getTime();
---

<BaseLayout title={title} description={description}>
  <article class="space-y-4">
    <!-- Post Header -->
    <header
      class="flex flex-col gap-6 rounded-xl bg-[#07ff62] px-4 py-8 shadow-sm md:items-center md:p-16 md:text-center lg:p-20 lg:pb-16"
    >
      <h1 class="text-5xl font-semibold lg:text-6xl">
        {title}
      </h1>
      {description && <p class="text-2xl md:text-3xl">{description}</p>}
      <p
        class="order-first flex flex-col gap-2 font-mono text-xs uppercase tracking-normal opacity-70 md:flex-row lg:gap-4 lg:text-sm"
      >
        Resource
      </p>
      <p
        class="flex flex-col gap-2 font-mono text-xs uppercase tracking-normal opacity-70 md:flex-row lg:gap-4 lg:text-sm"
      >
        <Time datetime={publishDate} />
        {
          isContentModified && (
            <em>
              Updated
              <Time datetime={contentModifiedDate} />
            </em>
          )
        }
      </p>
    </header>

    <div class="flex flex-col gap-8">
      <!-- Post Content -->
      <div
        class="prose prose-xl lg:prose-2xl prose-headings:font-semibold [&_a]:text-myblue-500 max-w-none rounded-xl bg-white px-4 py-8 shadow-sm md:p-16 lg:px-32 lg:py-16"
      >
        <slot />
      </div>
      <div class="order-first">
        <BrevoForm brevoFormId={form.brevoFormId} buttonText={form.buttonText}>
          <h2>{form.title}</h2>
          <p>{form.description}</p>
          <p>
            You'll also join my occasional newsletter with new tools and ideas. I won't spam you,
            and you can unsubscribe at any time.
          </p>
        </BrevoForm>
      </div>
    </div>
  </article>
</BaseLayout>
